<html>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <body>
        <div>
            <br>
            <div class="centre">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="ZIB MOVIE REVIEWS" width="15%" height="auto">
            </div>
                <br>
            <table>
                <tr>
                    <td class="NavBar" style="padding: 10px; width: 95%;"> <a href="{{ url_for('home_page') }}"><button style="width: 80%; font-size:1vw;"> Home </button> </a> </td>
                    <td class="NavBar" style="padding: 10px; width: 95%;">  <a href="{{ url_for('view_movies') }}"><button style="width: 80%; font-size:1vw;"> View Movies </button> </a> </td>
                    <td class="NavBar" style="padding: 10px; width: 95%;"> <a href="{{ url_for('login_page') }}"> <button style="width: 80%; font-size:1vw;"> Login </button> </a> </td>
                </tr>
            </table>
        </div>
        <br>
        {% block page_contents %}
        {% endblock page_contents %}
        <br>
    </body>
</html>
