<html>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <body>
        <div>
            <div class="centre">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="ZIB MOVIE REVIEWS" width="30%" height="auto">
            </div>
                <br>
            <table>
                <tr>
                    <td class="NavBar"> <a href="{{ url_for('home_page') }}"><button> Home </button> </a> </td>
                    <td class="NavBar">  <a href="{{ url_for('view_movies') }}"><button> View Movies </button> </a> </td>
                    <td class="NavBar"> <a href="{{ url_for('login_page') }}"> <button> Login </button> </a> </td>
                </tr>
            </table>
        </div>
        <br>
        {% block page_contents %}
        {% endblock page_contents %}
        <br>
    </body>
</html>