
    <head>
        <title> Login </title> 
    </head>

{% extends "layout.html" %}

{% block page_contents %}

<table style="width: 40%;">
    <tr>
        <th style="padding: 10px; font-size:1vw;"> {{ form.form_username.label }} </th>
        <th style="padding: 10px; font-size:1vw;"> {{ form.form_password.label }} </th>
    </tr>
    <form method = 'post' action = ''>
        {{ form.hidden_tag() }}

    <tr>
        <td style="padding: 10px; font-size:1vw;" width="80%"> {{ form.form_username(style='width: 95%;') }} </td>
        <td style="padding: 10px; font-size:1vw;" width="80%"> {{ form.form_password(style='width: 95%;') }} </td> 
    </tr>
    <tr>

        <td style="padding: 10px; font-size:1vw;"> {{ message }}</td>
        <td style="padding: 10px; font-size:1vw;"> {{ form.submit(style="font-size:1vw;") }} </td> 

    </tr>
    </form>
</table>


{% endblock page_contents %}
