
    <head>
        <title> Login </title> 
    </head>

{% extends "layout.html" %}

{% block page_contents %}

<table style="width: 50%;">
    <tr>
        <th> {{ form.form_username.label }} </th>
        <th> {{ form.form_password.label }} </th>
    </tr>
    <form method = 'post' action = ''>
        {{ form.hidden_tag() }}

    <tr>
        <td> {{ form.form_username }} </td>
        <td> {{ form.form_password }} </td> 
    </tr>
    <tr>

        <td> {{ message }}</td>
        <td> {{ form.submit }} </td> 

    </tr>
    </form>
</table>


{% endblock page_contents %}
