
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

            <div class="centre">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="ZIB MOVIE REVIEWS" width="30%" height="auto">
            </div>
                <br>  
    <table>   
    <tr>
        <th class="small" style="font-size:1vw;"> Cover Photo</th>
        <th class="small" style="font-size:1vw;"> Title </th>
        <th class="small" style="font-size:1vw;"> Age Rating </th>
        <th class="large" style="font-size:1vw;"> Movie Description </th>
        <th class="small" style="font-size:1vw;"> Movie Runtime </th>
        <th class="small" style="font-size:1vw;"> Modify </th>
    </tr>
    <tr>
        <td style="font-size:1vw;"> Must be image link address </td>
        <td style="font-size:1vw;"> Title of the movie </td>
        <td style="font-size:1vw;"> International age rating </td>
        <td style="font-size:1vw;"> A breif description of the movie, either its production or a breif explination of the story </td>
        <td style="font-size:1vw;"> Movie runtime in minutes </td> 
        <td style="font-size:1vw;"> Choose an option below </td>
    </tr>
    <tr>
        <td > <img src="{{ item.movie_cover_art }}" alt="{{ item.movie_title }}" width="100%"> </td>
        <td style="font-size:1vw;"> {{ item.movie_title }} </td>
        <td style="font-size:1vw;"> {{ item.movie_age }} </td>
        <td style="font-size:1vw;"> {{ item.movie_description }} </td>
        <td style="font-size:1vw;"> {{ item.movie_runtime }} Mins </td>

        <form method = 'post' action = ''>
            {{ form.hidden_tag() }}
        <td style="font-size:1vw;">  {{ form.submit(style='width: 95%; font-size:1vw;') }} {{  form.cancel(style='width: 95%; font-size:1vw;') }} </td>
    </tr>
    </table>
    <br>
    <div class="centre">
        <notification class="error_message" style="font-size:3vw; padding: 10px;"> UPDATE CONTENTS </notification>
    </div>
    <br>
    <table>
        <tr>
            <th class="small" style="font-size:1vw;"> Cover Photo</th>
            <th class="small" style="font-size:1vw;"> Title </th>
            <th class="small" style="font-size:1vw;"> Age Rating </th>
            <th class="large" style="font-size:1vw;"> Movie Description </th>
            <th class="small" style="font-size:1vw;"> Movie Runtime </th>
            <th class="small" style="font-size:1vw;"> Modify </th>
        </tr>
        <tr>
            <td style="font-size:1vw;"> Must be image link address </td>
            <td style="font-size:1vw;"> Title of the movie </td>
            <td style="font-size:1vw;"> International age rating </td>
            <td style="font-size:1vw;"> A breif description of the movie, either its production or a breif explination of the story </td>
            <td style="font-size:1vw;"> Movie runtime in minutes </td> 
            <td style="font-size:1vw;"> Click to submit </td>
        </tr>
        <tr>
            <td style="font-size:1vw;"> {{ form.movie_cover_art(style='width: 95%;') }} </td>
            <td style="font-size:1vw;"> {{ form.movie_title(style='width: 95%;') }} </td>
            <td style="font-size:1vw;"> {{ form.movie_age(style='width: 95%;') }} </td>
            <td style="font-size:1vw; padding: 10px;" class="centre"> {{ form.movie_description(style='width: 95%;', rows=3) }} </td>
            <td style="font-size:1vw;"> {{ form.movie_runtime(style='width: 95%;') }} </td>
            <td style="font-size:1vw;"> {{ form.modify(style='width: 95%;') }} <br> {{ message }} </td>
        </tr>
        </form>
    </table>
