<head>
        <title> Movies </title> 
    </head>

{% extends "layout.html" %}

{% block page_contents %}

<div>
    <p> {{ message }} </p>
</div>

<table>
     
    <tr>
        <th class="small" style="font-size:1vw;"> Cover Photo</th>
        <th class="small" style="font-size:1vw;"> Title </th>
        <th class="small" style="font-size:1vw;"> Age Rating </th>
        <th class="large" style="font-size:1vw;"> Movie Description </th>
        <th class="small" style="font-size:1vw;"> Movie Runtime </th>
        <th class="small" style="font-size:1vw;"> Reviews </th>
    </tr>

    {% for item in items %}

    <tr>
        <td> <img src="{{ item.movie_cover_art }}" alt="{{ item.movie_title }}" width="100%"> </td>
        <td style="font-size:1vw;"> {{ item.movie_title }} </td>
        <td style="font-size:1vw;"> {{ item.movie_age }} </td>
        <td style="font-size:1vw;"> {{ item.movie_description }} </td>
        <td style="font-size:1vw;"> {{ item.movie_runtime }} Mins </td>
        <td style="font-size:1vw;"> <a href={{ url_for("movie_reviews_page" ,movie_title = item.movie_title ,movie_id = item.id) }}> <button style="overflow-wrap: break-word; width: 80%; font-size:1vw;"> Reviews for {{ item.movie_title }} </button> </a> </td>
    </tr>

    {% endfor %}

</table>

{% endblock page_contents %}
